<app-user-navbar></app-user-navbar>
<div class="container-fluid">
  <div class="productList">
    <div class="container shadow">
      <div class="header">
        <h3>Order History</h3>
      </div>
      <hr />
      <div class="row proDesc">
        <div class="col-3 productImage pl-5 shadow">
          <img
            src="../../../assets/images/product.jpeg"
            class="ml-3"
            width="80%"
          />
        </div>
        <div class="col-9">
          <h2>Product Name</h2>
          <p>Product Description</p>
          <h4>₹ (price here)</h4>
        </div>
      </div>
    </div>
  </div>
</div>
