.container-fluid {
  min-height: 100vh;
  background-color: #aaccfa;
  padding: 8rem 0rem 2rem;
  display: flex;
}
.container {
  display: flex;
  margin: auto;
}
.col-6 {
  margin: auto;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  margin: 16px;
}
.card {
  border: 2px solid #668ec2;
  background-color: #aaccfa;
  margin: 16px;
  width: 500px;
  height: 300px;
  border-radius: 18px;
  padding: 18px 20px;
}
.card h2 {
  position: absolute;
  bottom: 0;
  right: 18px;
}
.summary {
  display: block;
}
