<div class="row m-0">
  <div class="col-6 p-0">
    <h1 class="mt-5 mb-3 text-center">Retailer Login</h1>
    <div class="container">
      <form action="/action_page.php">
        <div class="form-group">
          <label for="email">Email address:</label>
          <input
            type="email"
            class="form-control"
            placeholder="Enter email"
            id="email"
          />
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input
            type="password"
            class="form-control"
            placeholder="Enter password"
            id="pwd"
          />
        </div>
        <button type="submit" class="btn btn-outline-info btn-block">
          Login
        </button>
        <p class="route">
          New to online shopping?
          <a
            class="nav-link"
            [routerLink]="['/retailerRegister']"
            routerLinkActive="active"
            >Register</a
          >
        </p>
      </form>
    </div>
  </div>
  <div class="col-6 p-0">
    <div class="image"></div>
  </div>
</div>
